{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
  	<link rel="shortcut icon" href="{% static '/favicon.ico' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.10.0-11/css/solid.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/font-awesome/5.10.0-11/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <title>
      {% block title %}
        大发基金|我推荐的金主
      {% endblock %}
    </title>

      {% block css %}
        <link rel="stylesheet" type="text/css" href="https://m.wukonglicai.com/css/global.css" />
	<link rel="stylesheet" type="text/css" href="https://m.wukonglicai.com/css/set-account.css" />
	<script type="text/javascript" src="https://m.wukonglicai.com/javascript/deposit/upgrade.js"></script>
	<script type="text/javascript" src="https://m.wukonglicai.com/javascript/growingSDK.js"></script>
	<script type="text/javascript" src="https://m.wukonglicai.com/javascript/rem.js"></script>
	<script type="text/javascript" src="https://m.wukonglicai.com/javascript/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="https://m.wukonglicai.com/javascript/deposit/alertMessage.js"></script>
	<script type="text/javascript" src="https://m.wukonglicai.com/javascript/deposit/layer/layer.js"></script>
	<link rel="stylesheet" href="https://m.wukonglicai.com/css/zhezhao.css?20181013">
	<link rel="stylesheet" href="https://m.wukonglicai.com/css/base.css" />



	  <link rel="stylesheet" type="text/css" href="https://m.wukonglicai.com/extra/integral/css/nav.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index/myNext.css' %}">
      {% endblock %}
    {% block js %}

    {% endblock %}
  </head>
  <body>
    {% block content %}




    <div id="wrap">

					<div id="container">
					<div class="m-setact-content">
					<div class="m-act-name">
					<div class="m-main">
					<a href="https://m.wukonglicai.com/weixin/jf/integral.html">
					<dl>
					<dt><img src="https://m.wukonglicai.com/img/user-tx.png" alt=""></dt>
					<dd>
					<p class="n-username">
                        {% if YourLevel %}
                            尊敬的{{ YourLevel.VipName }}：
                        {% endif %}
                        <small>您好！</small></p>
					<!--
						<p class="n-vip-level"><span>Lv0普通会员</span></p>
					-->
					</dd>
					</dl>
					</a>
					</div>
					<!--
						<span class="n-right-jt"><em><img src="https://m.wukonglicai.com/img/ico-right-sj.svg" alt=""></em></span>
					 -->
					</div>


                  <ul class="m-act-info" style="text-align:center;">
                  {% if  UserNameNextCount %}
                  <li ><span >您一共拥有{{ UserNameNextCount }}位金主！富可帝国！</span></li>
                   {% endif %}

                  {% for YourNext in YourNexts %}
                      <li class="text-center" ><span class="n-dt" style="text-align:center;">{{ YourNext.name }}</span></li>
                  {% empty %}

                          <li class="text-center"><span class="n-dt">您暂时还有没有金主哦</span></li>


                  {% endfor %}
                  </ul>

			<!--

			{% for personalProgramDetail in personalProgramDetails %}
			<ul class="m-act-info">

						<li >
							<span class="n-dt">项目名称：</span><span class="n-dd" name='name'  style="font-weight:bold;">{{personalProgramDetail.program_name}}</span>
						</li>

						<li>
							<span class="n-dt">最低购买值：</span><span class="n-dd" name='money'>{{personalProgramDetail.program_minPay}}</span>
						</li>

						<li>
							<span class="n-dt">利率（%）：</span><span class="n-dd" name='bank_details'>{{personalProgramDetail.program_payBack}}</span>
						</li>

						<li>
							<span class="n-dt">您购入的数量：</span><span class="n-dd" name='bank_acount'>{{personalProgramDetail.program_count}}</span>
						</li>

						<li>
							<span class="n-dt">产品周期（天）</span><span class="n-dd" name='program_name'>{{personalProgramDetail.payDay}}</span>
						</li>
						<li>
							<span class="n-dt">您购入的时间：</span><span class="n-dd" name='program_minPay'>{{personalProgramDetail.c_time}}</span>
						</li>
						<li>
							<span class="n-dt">您获得利润的时间：</span><span class="n-dd" name='program_payBack'>{{personalProgramDetail.out_time}}</span>
						</li>


			</ul>
			{% empty %}
			<ul class="m-act-info">
                  <li ><span class="n-dt">您暂时没有购买的项目</span></li>

                  </ul>
            {% endfor %}

			-->




</div>
	</div>
</div>



<div style="" id="show" class="fixed">
    <a href="/" class="t-jTxt">
        <dl>
            <dt class="active-foot active-tj">
            <img src="https://m.wukonglicai.com/images/s-yActive.png">
            </dt>
            <dd><p>首页 </p></dd>
        </dl>
    </a>
    <a href="/maintz" class="l-cTxt">
        <dl>
            <dt class="xiabianlanlc">
            <img src="https://m.wukonglicai.com/images/t-z.png">
            </dt>
            <dd><p>投资</p></dd>
        </dl>
    </a>
    <a href="/logout" class="t-qTxt">
        <dl>
            <dt class="xiabianlantq">
            <img src="https://m.wukonglicai.com/images/k-f.png">
            </dt>
            <dd><p>退出</p></dd>
        </dl>
    </a>
    <a href="/userCenter" class="myTxt">
        <dl>
            <dt class="xiabianlanwd">
            <img src="https://m.wukonglicai.com/images/m-y.png">
            </dt>
            <dd><p>我的</p></dd>
        </dl>
    </a>
</div>

<div style="width: 100%;height: 10%"></div>




    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
    <script type="text/javascript">
      if(!window.jQuery){
        var script = document.createElement('script');
        script.src = "{% static 'javascript/jquery.min.js' %}";
        document.body.appendChild(script);
      }
    </script>



  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
      if(!window.bootstrap){
        var script = document.createElement('script');
        script.src = "{% static 'javascript/bootstrap.min.js' %}";
        document.body.appendChild(script);
      }
    </script>


  </body>
</html>