{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
  	<link rel="shortcut icon" href="{% static '/favicon.ico' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.10.0-11/css/solid.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/font-awesome/5.10.0-11/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
   
    <title>
      {% block title %}
        replace title
      {% endblock %}
    </title>

      {% block css %}

      {% endblock %}
    {% block js %}

    {% endblock %}
  </head>
  <body>
    {% block content %}
    	replace me
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
    <script type="text/javascript">
      if(!window.jQuery){
        var script = document.createElement('script');
        script.src = "{% static 'javascript/jquery.min.js' %}";
        document.body.appendChild(script);
      }
    </script>

 

  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
      if(!window.bootstrap){
        var script = document.createElement('script');
        script.src = "{% static 'javascript/bootstrap.min.js' %}";
        document.body.appendChild(script);
      }
    </script>


  </body>
</html>